* {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

img {
    height: 2em;
    margin-right: 10px;
}

.toolbar__main {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 0;
    height: 100%;
    margin-left: -20px;
    padding-right: 30px;
    padding-left: 25px;
}

.menu {
    height: 100%;
    margin-right: -15px;
}