<div class="container" appAddTheme>

  <mat-card class="item">
    <mat-card-title>To: {{ data.odbiorca }}</mat-card-title>
    <mat-card-subtitle>
      Date: {{ data.data | date: 'yyyy-MM-dd' }}
    </mat-card-subtitle>
    <b>From:</b> {{ data.nadawca }} <br>
    <b>Ammount:</b> {{ data.kwota }} PLN <br>
    <b>Account:</b> {{ data.konto }} <br>
    <b>Accepted:</b>
    <span *ngIf="!data.accepted" style="color: red"> {{ data.accepted }}</span>
    <span *ngIf="data.accepted" style="color:green"> {{ data.accepted }}</span>
    <br>
  </mat-card>
</div>