<form id="register-form" (ngSubmit)="validate() && register.emit(credentials)" ngNativeValidate>

  <mat-form-field class="full-width">
    <input 
    matInput
    placeholder="Email" 
    [(ngModel)]="credentials.email"
    [email]="true"
    type="email"
    name="email"
    required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input 
    matInput
    placeholder="Password" 
    [(ngModel)]="credentials.password" 
    [type]="hide ? 'text' : 'password'"
    name="password"
    minlength="5"
    required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input 
    matInput
    placeholder="Confirm Password" 
    [(ngModel)]="re_password" 
    [type]="hide ? 'text' : 'password'"
    name="re-password"
    minlength="5"
    required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  
  <div align="center" *ngIf="!validate_password()"> <small> Passwords do not match.</small> <br><br> </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="!validate() || disabled">
    Register
    <mat-progress-bar *ngIf="disabled" mode="indeterminate"></mat-progress-bar>
  </button>
</form>