@import '~@angular/material/theming';
@import './components';

@mixin dark-theme-grabber($theme, $background, $foreground) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  @include dark-components($primary, $accent, $background, black);
  $fonts: dark-theme-foreground(mat-color($foreground));
  $theme: map-merge($theme, (foreground: $fonts));
  $palette: dark-theme-background($background);
  $theme: map-merge($theme, (background: $palette));
  @include angular-material-theme($theme);
}

@mixin light-theme-grabber($theme, $background, $foreground) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  @include light-components($primary, $accent, $background, white);
  $fonts: light-theme-foreground(mat-color($foreground));
  $theme: map-merge($theme, (foreground: $fonts));
  $palette: light-theme-background($background);
  $theme: map-merge($theme, (background: $palette));
  @include angular-material-theme($theme);
}

@function dark-theme-background($color) {
    @return (
        status-bar:             black,
        app-bar:                map_get($color, 900),
        background:             mat_color($color),
        hover:                  rgba(white, 0.04),
        card:                   map_get($color, 800),
        dialog:                 map_get($color, 800),
        disabled-button:        rgba(white, 0.12),
        raised-button:          map-get($color, 800),
        focused-button:         $light-focused,
        selected-button:        map_get($color, 900),
        selected-disabled-button: map_get($color, 800),
        disabled-button-toggle: black,
        unselected-chip:        map_get($color, 700),
        disabled-list-option:   black,
    );
};

@function light-theme-background($color) {
    @return (
      status-bar:             map_get($color, 300),
      app-bar:                map_get($color, 100),
      background:             map_get($color, 50),
      hover:                  rgba(black, 0.04), // TODO(kara): check style with Material Design UX
      card:                   white,
      dialog:                 white,
      disabled-button:        rgba(black, 0.12),
      raised-button:          white,
      focused-button:         $dark-focused,
      selected-button:        map_get($color, 300),
      selected-disabled-button: map_get($color, 400),
      disabled-button-toggle: map_get($color, 200),
      unselected-chip:        map_get($color, 300),
      disabled-list-option:   map_get($color, 200),
    );
};

@function dark-theme-foreground($color) {
    @return (
      base:              $color,
      divider:           $dark-dividers,
      dividers:          $dark-dividers,
      disabled:          rgba($color, 0.38),
      disabled-button:   rgba($color, 0.38),
      disabled-text:     rgba($color, 0.38),
      hint-text:         rgba($color, 0.38),
      secondary-text:    rgba($color, 0.54),
      icon:              rgba($color, 0.54),
      icons:             rgba($color, 0.54),
      text:              rgba($color, 0.87),
      slider-min:        rgba($color, 0.87),
      slider-off:        rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38),
    );
};

@function light-theme-foreground($color) {
    @return (
      base:              black,
      divider:           $dark-dividers,
      dividers:          $dark-dividers,
      disabled:          $dark-disabled-text,
      disabled-button:   rgba(black, 0.26),
      disabled-text:     $dark-disabled-text,
      hint-text:         $dark-disabled-text,
      secondary-text:    $dark-secondary-text,
      icon:              rgba(black, 0.54),
      icons:             rgba(black, 0.54),
      text:              rgba(black, 0.87),
      slider-min:        rgba(black, 0.87),
      slider-off:        rgba(black, 0.26),
      slider-off-active: rgba(black, 0.38),
    );
};
