// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import './app/themes/styles/theming.scss';
@include mat-core();

.light-theme {
    $primary: mat-palette($mat-amber);
    $accent: mat-palette($mat-yellow, A400, A100, A700);
    $warn: mat-palette($mat-orange);
    $background: mat-palette($mat-grey, 900);
    $foreground: mat-palette($mat-grey, 50);
    $theme: mat-light-theme($primary, $accent, $warn);
    @include light-theme-grabber($theme, $background, $foreground);
}

.dark-theme {
    $primary: mat-palette($mat-teal);
    $accent: mat-palette($mat-cyan, A400, A100, A700);
    $warn: mat-palette($mat-deep-orange);
    $background: mat-palette($mat-grey, 900);
    $foreground: mat-palette($mat-grey, 50);
    $theme: mat-dark-theme($primary, $accent, $warn);
    @include dark-theme-grabber($theme, $background, $foreground);
}

* {
    font-family: Helvetica, Arial, Sans-Serif;
    padding: 0;
    margin: 0;
}