<div class="container" appAddTheme>
    <mat-card class="card">
        <div align="center">
            <img src='../../../../assets/icons/icon_white.svg' />
            <br><br>
            <h1>
                <p>
                    Welcome to Zagórski Bank!
                </p>
            </h1>
        </div>
    </mat-card>
    <mat-card class="card" *ngIf="!(email$ | async)">
        <div align="center">
            <p>
                Please <a routerLink="/login" routerLinkActive="active">login</a> or <a routerLink="/register"
                    routerLinkActive="active">register</a> to start!
            </p>
        </div>
    </mat-card>

    <button *ngIf="email$ | async" mat-raised-button routerLink="/add-task">
        <mat-icon>add</mat-icon>
        <span style="margin-left: 1em"><b>Add New Przelew</b></span>
    </button>
</div>