.container {
    background-image: url("../../../../assets/backgrounds/background-home.jpg");
    height: 100%;
    width: 100%;
    overflow: auto;
}

.card {
    // TODO:
    top: 12.5%;
    padding: 30px 20%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 0;
    color: white;
    margin-bottom: 1em;
}

img {
    height: 15em;
}

button {
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    border-radius: 60px;
}